@mixin border($color) {
	
	border:1px solid $color;
}

@mixin roundedBorder($color, $radius) {
	
	-webkit-border-radius: $radius;
	border-radius: $radius;
	border:1px solid $color;

}

html {
	
	width:100%;
	height:100%;
	
}

/* utility classes */
.right {
		
	float:right;
}
	
.left {
		
	float:left;
}
	
.center {
		
	margin:0 auto;
	text-align: center;
}
	
input[type="radio"].input_hidden {
    position: absolute;
    left: -9999px;
}
		
.icon {
		
	display:block;
		
}
	
.icon-icon-logo {
		
	width:125px;
	height:170px;
}

.bold {
	
	font-weight:700;
}

/* end utility classes */

@media only screen and (min-width:320px) {
	
	body {
		
		width:100%;
		height:auto;
		text-align: center;
		margin:0 auto;
	}
}

/* MEDIA BREAK */

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
	
	body {
		
		width:1200px;
		@include border(red);
	}
	
	nav {
		
		width:100%;
		margin:0 auto;
		height:175px;
		@include border(blue);
		color:red;
	}
	
	nav li {
		
		margin-top:60px;
		display:inline-block;
		list-style: none;
		
	}
	
	nav .left.icon {
		
		margin-top:0;
	}
	
	.button {
	
		width:20%;	
		@include border(#aad315);
	}
	
	.container {
		
		margin-top:30px;
		
	}
	
	.row {
		
		margin-bottom:30px;
	}
	.faux-radio,
	.faux-radio img,
	.faux-radio .icon {
		
		cursor:pointer;
		
	}
	
	.faux-radio {
		
		@include roundedBorder(#aad315, 15px);
		border-width:5px;
		background-color:rgba(170,211,21, .8);
		color:white;
		
		width:200px;
		height:200px;
		display:inline-block;
		vertical-align: top;
		margin-left:15px;
		margin-right:15px;
		
		
	}
	
	.faux-radio:hover {
		
		color: #aad315;
		background-color: white;
	}
	
	.faux-radio .icon {
		
		display:block;
		width:100px;
		height:100px;
		margin:0 auto;
		text-align: center;
		background-position: center center;
	}
	
	.faux-radio .icon p {
		
		padding-top:100px;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	
	


	
}




