 
.icon-icon-contractor {
	background-image: url('png/icon-contractor.png');
	background-repeat: no-repeat;
}

 
.icon-icon-folio {
	background-image: url('png/icon-folio.png');
	background-repeat: no-repeat;
}

 
.icon-icon-logo {
	background-image: url('png/icon-logo.png');
	background-repeat: no-repeat;
}

 
.icon-icon-map-marker {
	background-image: url('png/icon-map-marker.png');
	background-repeat: no-repeat;
}

 
.icon-icon-permit {
	background-image: url('png/icon-permit.png');
	background-repeat: no-repeat;
}

 
.icon-icon-progress {
	background-image: url('png/icon-progress.png');
	background-repeat: no-repeat;
}

