/*
	
	<style>
.badge { font-weight:800; padding:5px 10px; border-radius:5px; }
.elec { background-color:goldenrod; color:#fff; }
.bldg { background-color:#999; color:#fff; }
.plum { background-color:#06c; color:#fff; } 
    </style>	
    
    */
/* apply a natural box layout model to all elements, but allowing components to change */
/* line 26, ../sass/app.scss */
html {
  box-sizing: border-box;
}

/* line 29, ../sass/app.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 33, ../sass/app.scss */
html {
  width: 100%;
  height: 100%;
}

/* utility classes */
/* line 41, ../sass/app.scss */
.right {
  float: right;
}

/* line 46, ../sass/app.scss */
.left {
  float: left;
}

/* line 51, ../sass/app.scss */
.center {
  margin: 0 auto;
  text-align: center;
}

/* line 57, ../sass/app.scss */
input[type="radio"].input_hidden {
  position: absolute;
  left: -9999px;
}

/* line 62, ../sass/app.scss */
.icon {
  display: block;
}

/* line 68, ../sass/app.scss */
.icon-icon-logo {
  width: 125px;
  height: 170px;
}

/* line 74, ../sass/app.scss */
.bold {
  font-weight: 700;
}

/* line 79, ../sass/app.scss */
.hide {
  display: none !important;
}

/* line 84, ../sass/app.scss */
#language-toggle {
  margin-bottom: 0;
}

/* line 89, ../sass/app.scss */
.button.active {
  color: white;
  background-color: #aad315;
}

/* line 95, ../sass/app.scss */
.button.active.reverse {
  opacity: 1 !important;
  color: #222 !important;
}

/* line 101, ../sass/app.scss */
.button a {
  color: inherit;
  text-decoration: none;
}

/* line 107, ../sass/app.scss */
.button a:hover {
  color: inherit;
}

/* line 112, ../sass/app.scss */
a {
  color: #aad315;
  text-decoration: none;
}

/* line 118, ../sass/app.scss */
a:hover {
  text-decoration: underline;
  color: #aad315;
}

/* end utility classes */
@media only screen and (min-width: 320px) {
  /* line 128, ../sass/app.scss */
  body {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
}
/* MEDIA BREAK */
/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  /* line 153, ../sass/app.scss */
  #language-toggle-wrapper {
    background-color: #aad315;
    width: 100%;
    padding-top: 13px;
  }

  /* line 160, ../sass/app.scss */
  #language-toggle {
    width: 41%;
  }

  /* line 165, ../sass/app.scss */
  #language-toggle .left {
    color: white;
    padding-right: 0;
    vertical-align: bottom;
  }

  /* line 172, ../sass/app.scss */
  #language-toggle li {
    display: inline;
    padding-right: 40px;
    padding-left: 25px;
    margin-bottom: 0;
  }

  /* line 180, ../sass/app.scss */
  #language-toggle .left p {
    padding-top: 7px;
  }

  /* line 186, ../sass/app.scss */
  #language-toggle li.button {
    background-color: white;
    border-color: white;
    opacity: .5;
  }

  /* line 193, ../sass/app.scss */
  #language-toggle li.button.three {
    padding-right: 25px;
  }

  /* line 198, ../sass/app.scss */
  #language-toggle li.button:hover {
    opacity: 1;
  }

  /* line 203, ../sass/app.scss */
  nav {
    width: 100%;
    margin: 0 auto;
    height: 105px;
  }

  /* line 209, ../sass/app.scss */
  nav li {
    margin-top: 10px;
    display: inline-block;
    list-style: none;
  }

  /* line 217, ../sass/app.scss */
  nav .left.icon {
    margin-top: 0;
  }

  /* line 222, ../sass/app.scss */
  .container {
    width: 1200px;
  }

  /* line 228, ../sass/app.scss */
  .button {
    width: 20%;
    border: 1px solid #aad315;
  }

  /* line 234, ../sass/app.scss */
  .container {
    margin-top: 30px;
  }

  /* line 240, ../sass/app.scss */
  .row {
    margin-bottom: 30px;
  }

  /* line 244, ../sass/app.scss */
  .faux-radio,
  .faux-radio img,
  .faux-radio .icon {
    cursor: pointer;
  }

  /* line 252, ../sass/app.scss */
  .faux-radio {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #aad315;
    border-width: 5px;
    background-color: rgba(170, 211, 21, 0.8);
    color: white;
    width: 200px;
    height: 170px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 268, ../sass/app.scss */
  .faux-radio:hover {
    color: #aad315;
    background-color: white;
  }

  /* line 274, ../sass/app.scss */
  .faux-radio .icon {
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    background-position: center center;
    margin-top: 30px;
  }

  /* line 286, ../sass/app.scss */
  .faux-radio .icon p {
    padding-top: 100px;
  }

  /* line 291, ../sass/app.scss */
  footer {
    color: #717070;
    border-top: 1px solid #dddddd;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* line 298, ../sass/app.scss */
  footer p {
    margin-bottom: 0;
  }
}
/* Larger than Desktop HD */
