/* line 14, ../sass/app.scss */
html {
  width: 100%;
  height: 100%;
}

/* utility classes */
/* line 22, ../sass/app.scss */
.right {
  float: right;
}

/* line 27, ../sass/app.scss */
.left {
  float: left;
}

/* line 32, ../sass/app.scss */
.center {
  margin: 0 auto;
  text-align: center;
}

/* line 38, ../sass/app.scss */
input[type="radio"].input_hidden {
  position: absolute;
  left: -9999px;
}

/* line 43, ../sass/app.scss */
.icon {
  display: block;
}

/* line 49, ../sass/app.scss */
.icon-icon-logo {
  width: 125px;
  height: 170px;
}

/* line 55, ../sass/app.scss */
.bold {
  font-weight: 700;
}

/* end utility classes */
@media only screen and (min-width: 320px) {
  /* line 64, ../sass/app.scss */
  body {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
}
/* MEDIA BREAK */
/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  /* line 89, ../sass/app.scss */
  body {
    width: 1200px;
    border: 1px solid red;
  }

  /* line 95, ../sass/app.scss */
  nav {
    width: 100%;
    margin: 0 auto;
    height: 175px;
    border: 1px solid blue;
    color: red;
  }

  /* line 104, ../sass/app.scss */
  nav li {
    margin-top: 60px;
    display: inline-block;
    list-style: none;
  }

  /* line 112, ../sass/app.scss */
  nav .left.icon {
    margin-top: 0;
  }

  /* line 117, ../sass/app.scss */
  .button {
    width: 20%;
    border: 1px solid #aad315;
  }

  /* line 123, ../sass/app.scss */
  .container {
    margin-top: 30px;
  }

  /* line 129, ../sass/app.scss */
  .row {
    margin-bottom: 30px;
  }

  /* line 133, ../sass/app.scss */
  .faux-radio,
  .faux-radio img,
  .faux-radio .icon {
    cursor: pointer;
  }

  /* line 141, ../sass/app.scss */
  .faux-radio {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #aad315;
    border-width: 5px;
    background-color: rgba(170, 211, 21, 0.8);
    color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 158, ../sass/app.scss */
  .faux-radio:hover {
    color: #aad315;
    background-color: white;
  }

  /* line 164, ../sass/app.scss */
  .faux-radio .icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background-position: center center;
  }

  /* line 174, ../sass/app.scss */
  .faux-radio .icon p {
    padding-top: 100px;
  }
}
/* Larger than Desktop HD */
