/* apply a natural box layout model to all elements, but allowing components to change */
/* line 15, ../sass/app.scss */
html {
  box-sizing: border-box;
}

/* line 18, ../sass/app.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 22, ../sass/app.scss */
html {
  width: 100%;
  height: 100%;
}

/* utility classes */
/* line 30, ../sass/app.scss */
.right {
  float: right;
}

/* line 35, ../sass/app.scss */
.left {
  float: left;
}

/* line 40, ../sass/app.scss */
.center {
  margin: 0 auto;
  text-align: center;
}

/* line 46, ../sass/app.scss */
input[type="radio"].input_hidden {
  position: absolute;
  left: -9999px;
}

/* line 51, ../sass/app.scss */
.icon {
  display: block;
}

/* line 57, ../sass/app.scss */
.icon-icon-logo {
  width: 125px;
  height: 170px;
}

/* line 63, ../sass/app.scss */
.bold {
  font-weight: 700;
}

/* line 68, ../sass/app.scss */
.hide {
  display: none !important;
}

/* line 73, ../sass/app.scss */
#language-toggle {
  margin-bottom: 0;
}

/* line 78, ../sass/app.scss */
.button.active {
  color: white;
  background-color: #aad315;
}

/* line 84, ../sass/app.scss */
.button.active.reverse {
  opacity: 1 !important;
  color: #222 !important;
}

/* line 90, ../sass/app.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 96, ../sass/app.scss */
a:hover {
  color: inherit;
}

/* end utility classes */
@media only screen and (min-width: 320px) {
  /* line 105, ../sass/app.scss */
  body {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
}
/* MEDIA BREAK */
/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  /* line 130, ../sass/app.scss */
  #language-toggle-wrapper {
    background-color: #aad315;
    width: 100%;
    padding-top: 13px;
  }

  /* line 137, ../sass/app.scss */
  #language-toggle {
    width: 40%;
  }

  /* line 142, ../sass/app.scss */
  #language-toggle .left {
    color: white;
    padding-right: 0;
    vertical-align: bottom;
  }

  /* line 149, ../sass/app.scss */
  #language-toggle li {
    display: inline;
    padding-right: 40px;
    padding-left: 25px;
    margin-bottom: 0;
  }

  /* line 157, ../sass/app.scss */
  #language-toggle .left p {
    padding-top: 7px;
  }

  /* line 163, ../sass/app.scss */
  #language-toggle li.button {
    background-color: white;
    border-color: white;
    opacity: .5;
  }

  /* line 170, ../sass/app.scss */
  #language-toggle li.button.three {
    padding-right: 25px;
  }

  /* line 175, ../sass/app.scss */
  #language-toggle li.button:hover {
    opacity: 1;
  }

  /* line 180, ../sass/app.scss */
  nav {
    width: 100%;
    margin: 0 auto;
    height: 105px;
    color: red;
  }

  /* line 188, ../sass/app.scss */
  nav li {
    margin-top: 10px;
    display: inline-block;
    list-style: none;
  }

  /* line 196, ../sass/app.scss */
  nav .left.icon {
    margin-top: 0;
  }

  /* line 201, ../sass/app.scss */
  .container {
    width: 1200px;
    border: 1px solid red;
  }

  /* line 208, ../sass/app.scss */
  .button {
    width: 20%;
    border: 1px solid #aad315;
  }

  /* line 214, ../sass/app.scss */
  .container {
    margin-top: 30px;
  }

  /* line 220, ../sass/app.scss */
  .row {
    margin-bottom: 30px;
  }

  /* line 224, ../sass/app.scss */
  .faux-radio,
  .faux-radio img,
  .faux-radio .icon {
    cursor: pointer;
  }

  /* line 232, ../sass/app.scss */
  .faux-radio {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #aad315;
    border-width: 5px;
    background-color: rgba(170, 211, 21, 0.8);
    color: white;
    width: 200px;
    height: 170px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 248, ../sass/app.scss */
  .faux-radio:hover {
    color: #aad315;
    background-color: white;
  }

  /* line 254, ../sass/app.scss */
  .faux-radio .icon {
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    background-position: center center;
    margin-top: 30px;
  }

  /* line 266, ../sass/app.scss */
  .faux-radio .icon p {
    padding-top: 100px;
  }
}
/* Larger than Desktop HD */
